<template>
  <div>
    <h1>about内容</h1>
    <el-button @click="showlodash">关于lodash</el-button>
    <el-button @click="showJQText">关于jquery</el-button>
    <div class="lodashText" v-show="lodashText">
      <el-button @click="relatedLink('https://blog.csdn.net/m0_38134431/article/details/128426496?spm=1001.2101.3001.6650.3&utm_medium=distribute.pc_relevant.none-task-blog-2%7Edefault%7EYuanLiJiHua%7EPosition-3-128426496-blog-115858851.235%5Ev29%5Epc_relevant_default_base3&depth_1-utm_source=distribute.pc_relevant.none-task-blog-2%7Edefault%7EYuanLiJiHua%7EPosition-3-128426496-blog-115858851.235%5Ev29%5Epc_relevant_default_base3&utm_relevant_index=6')" type="text">相关链接</el-button>
      <el-button @click="relatedLink('https://blog.csdn.net/m0_38134431/article/details/128426496?spm=1001.2101.3001.6650.3&utm_medium=distribute.pc_relevant.none-task-blog-2%7Edefault%7EYuanLiJiHua%7EPosition-3-128426496-blog-115858851.235%5Ev29%5Epc_relevant_default_base3&depth_1-utm_source=distribute.pc_relevant.none-task-blog-2%7Edefault%7EYuanLiJiHua%7EPosition-3-128426496-blog-115858851.235%5Ev29%5Epc_relevant_default_base3&utm_relevant_index=6')" type="text">lodash适用方法</el-button>
      <!-- <img class="img" src="../imgs/示例1.png" alt="" style="width: 50px; height: 50px;"> -->
    </div>
  </div>
</template>


<script>
// 去重:uniq
import _uniq from 'lodash/uniq'
// 得到某个key对应value: pick
import _pick from 'lodash/pick'
export default {
    name:"About",
    data(){
      return {
        lodashText : false
      }
    },
    methods:{
      showlodash(){
        this.lodashText = true
      },
      showLodashText(){
        const a = _uniq([1, 2, 1, 5, 1, 9]);
        console.log("去重[1,2,1,5,1,9]", a);
        const Obj1 = { a: 1, b: "2", c: 3 };
        const pickObj1 = _pick(Obj1,["a","c"])
        console.log( "得到选中的 key 中'a', 'c'的对象{ 'a': 1, 'b': '2', 'c': 3 }",pickObj1);
        

      },
      relatedLink(url){
        window.open(url)
      },
    },
    mounted(){
      this.showLodashText()
    }
}
</script>

<style>
.img:hover{
  position: relative;
  transform: scale(25);
  transition: all 0.2s linear;
  top: 90px;
}
</style>