<template>
<div  class="aboutEharts">
  <h1> About echart </h1>
  <div>
    <el-button>使用JS原生生成</el-button>
    <el-button>使用vue生成</el-button>
  </div>
  <div class="showMap">
<!--    <iframe ref="iframe" style="width:100%; height:100%" frameborder="0"></iframe>-->
  </div>
</div>
</template>

<script>
export default {
  name: "Echarts",
  data(){
    return{
    // 引用map.html文件显示html文件出错
      // iframeUrl:require('../map.html')
    }
  },
}
</script>

<style lang="scss" scoped>
.aboutEharts{
  position: relative;
}
.showMap{
  top: 0px;
  position: absolute;
  right: 0px;
  width: 40%;
  height: 500px;
}
</style>