<template>
  <div id="app">
    <div class="title">
      <router-link tag="button" active-class="active" to="/Home" style="height: 33px; cursor: pointer;">home内容</router-link>
      <router-link tag="button" active-class="active" to="/About" style="margin-left: 50px; height: 33px; cursor: pointer;">about内容</router-link>
      <router-link tag="button" active-class="active" to="/Echarts" style="margin-left: 50px; height: 33px; cursor: pointer;">echart内容</router-link>
    </div>
    <el-button @click="getMockData">element组件按钮</el-button>
    <div class="view">
      <router-view></router-view>
    </div>
  </div>
</template>

<script>

export default {
  name: 'App',
  methods:{
    getMockData(){
      this.$ajax.get('/parameter/query').then(res=>{
        console.log(res.data.data);
      })  
    }
  }
}
</script>

<style lang="scss" scoped>
.active{
  background-color: #ece6e6;
}
.title{
  display: inline-block;
  line-height: 50px;
  width: 1000px;
  height: 50px;
  background-color: rgb(241, 157, 157);
}
.view{
  width: 100%;
  height: 1000px;
  border: 1px solid #2b58c9;
}
</style>
